Repository MannLabs/alphadia, pull requests merged in 2024-08, with the labels that each got.

#293 Add automatic calibration
  .github/workflows/e2e_testing.yml
  alphadia/constants/default.yaml
  alphadia/workflow/base.py
  alphadia/workflow/optimization.py
  alphadia/workflow/peptidecentric.py
  alphadia/workflow/searchoptimization.py
  tests/e2e_tests/e2e_test_cases.yaml
  tests/unit_tests/test_workflow.py
Labels: test:e2e

#301 Calibrate optimization lock only during optimization
  alphadia/outputtransform.py
  alphadia/workflow/base.py
  alphadia/workflow/manager.py
  alphadia/workflow/peptidecentric.py
  tests/unit_tests/test_outputtransform.py
Labels: test:e2e

#292 Multiplex spectral library
  alphadia/constants/default.yaml
  alphadia/libtransform.py
  alphadia/planning.py
  tests/unit_tests/test_libtransform.py
Labels: enhancement

#314 BUG multiplexing fails due to missing column
  alphadia/plexscoring.py
Labels: bug

#311 BUG max-lr not used correctly
  alphadia/transferlearning/train.py
Labels: bug

#309 New dynamic optimization lock
  alphadia/constants/default.yaml
  alphadia/exceptions.py
  alphadia/outputtransform.py
  alphadia/planning.py
  alphadia/workflow/base.py
  alphadia/workflow/manager.py
  alphadia/workflow/optimization.py
  alphadia/workflow/peptidecentric.py
  nbs/debug/debug_lvl1.ipynb
  tests/unit_tests/test_outputtransform.py
  tests/unit_tests/test_workflow.py
Labels: test:e2e

#312 FEAT enable selection of alternative peptdeep models
  alphadia/constants/default.yaml
  alphadia/libtransform.py
  alphadia/planning.py
  gui/workflows/PeptideCentric.v1.json
Labels: enhancement

#317 Calibrate relevant subset in dynamic lock
  alphadia/workflow/optimization.py
  alphadia/workflow/peptidecentric.py
  tests/unit_tests/test_workflow.py
Labels: test:e2e

#318 Make optimization configurable
  alphadia/constants/default.yaml
  alphadia/workflow/optimization.py
  alphadia/workflow/peptidecentric.py
  tests/unit_tests/test_workflow.py
Labels: test:e2e

#323 Make fragment calibration configurable
  alphadia/constants/default.yaml
  alphadia/workflow/peptidecentric.py
Labels: test:e2e

#320 New RT convergence criteria
  alphadia/constants/default.yaml
  alphadia/workflow/optimization.py
  alphadia/workflow/peptidecentric.py
  tests/unit_tests/test_workflow.py
Labels: test:e2e

#330 Additional convergence criterion
  alphadia/constants/default.yaml
  alphadia/workflow/optimization.py
  alphadia/workflow/peptidecentric.py
  tests/unit_tests/test_workflow.py
Labels: test:e2e
