Repository MannLabs/alphadia, pull requests merged in 2024-11, with the labels that each got.

#374 Zero slice bug
  alphadia/data/alpharaw.py
  alphadia/data/bruker.py
  alphadia/peakgroup/search.py
  alphadia/utils.py
  tests/unit_tests/test_data.py
Labels: bug, test:e2e

#372 introduce rawfilemanager
  alphadia/data/alpharaw_wrapper.py
  alphadia/data/bruker.py
  alphadia/data/stats.py
  alphadia/peakgroup/kernel.py
  alphadia/planning.py
  alphadia/plexscoring.py
  alphadia/workflow/base.py
  alphadia/workflow/config.py
  alphadia/workflow/manager.py
  alphadia/workflow/managers/__init__.py
  alphadia/workflow/managers/raw_file_manager.py
  alphadia/workflow/peptidecentric.py
  alphadia/workflow/reporting.py
  tests/unit_tests/test_data.py
Labels: test:e2e

#381 alpharaw hdf reader
  alphadia/data/alpharaw_wrapper.py
  alphadia/workflow/managers/raw_file_manager.py
Labels: enhancement

#382 Transfer Library Bug
  alphadia/outputaccumulator.py
  alphadia/workflow/peptidecentric.py
Labels: bug, test:e2e
