Repository MannLabs/alphadia, pull requests merged in 2025-01, with the labels that each got.

#399 Multistep search
  .github/workflows/e2e_testing.yml
  alphadia/cli.py
  alphadia/constants/default.yaml
  alphadia/constants/multistep.yaml
  alphadia/outputtransform.py
  alphadia/planning.py
  alphadia/search_plan.py
  alphadia/workflow/config.py
  alphadia/workflow/reporting.py
  docs/guides/transfer-dimethyl.md
  gui/workflows/PeptideCentric.v1.json
  pyproject.toml
  tests/e2e_tests/e2e_test_cases.yaml
  tests/unit_tests/test_outputtransform.py
  tests/unit_tests/test_reporting.py
  tests/unit_tests/test_search_plan.py
  tests/unit_tests/test_utils.py
Labels: test:e2e

#403 renaming Plan -> SearchStep
  alphadia/outputtransform.py
  alphadia/search_plan.py
  alphadia/search_step.py
  docs/alphadia/planning.rst
  docs/modules.rst
  nbs/debug/debug_lvl1.ipynb
  nbs/search/library_search.ipynb
  tests/e2e_tests/e2e_test_cases.yaml
  tests/unit_tests/test_search_plan.py
  tests/unit_tests/test_search_step.py
Labels: test:e2e

#411 Refactor config
  alphadia/cli.py
  alphadia/constants/default.yaml
  alphadia/search_plan.py
  alphadia/search_step.py
  alphadia/workflow/config.py
  tests/unit_tests/test_config.py
  tests/unit_tests/test_search_step.py
Labels: test:e2e, breaking-change

#410 Change config handling
  alphadia/cli.py
  alphadia/constants/default.yaml
  alphadia/constants/keys.py
  alphadia/constants/multistep.yaml
  alphadia/exceptions.py
  alphadia/libtransform.py
  alphadia/search_plan.py
  alphadia/search_step.py
  alphadia/workflow/base.py
  alphadia/workflow/config.py
  docs/guides/transfer-dimethyl.md
  gui/src/main/modules/workflows.js
  misc/distributed_search/parse_parameters.py
  misc/distributed_search/speclib_config.py
  tests/e2e_tests/e2e_test_cases.yaml
  tests/e2e_tests/prepare_test_data.py
  tests/unit_tests/test_config.py
  tests/unit_tests/test_search_plan.py
  tests/unit_tests/test_search_step.py
  tests/unit_tests/test_workflow.py
Labels: breaking-change

#415 Refactor config2
  alphadia/search_step.py
  alphadia/workflow/config.py
  tests/e2e_tests/prepare_test_data.py
  tests/unit_tests/test_config.py
  tests/unit_tests/test_workflow.py
Labels: test:e2e

#417 Simplify config
  alphadia/constants/default.yaml
  alphadia/libtransform.py
  alphadia/search_step.py
  alphadia/workflow/base.py
  alphadia/workflow/manager.py
  tests/unit_tests/test_libtransform.py
  tests/unit_tests/test_workflow.py
Labels: breaking-change

#424 Improved config for fragment types
  alphadia/constants/default.yaml
  alphadia/libtransform.py
  alphadia/search_step.py
  alphadia/workflow/peptidecentric.py
  gui/src/renderer/components/ParameterInput.js
  gui/workflows/PeptideCentric.v1.json
  tests/unit_tests/test_outputaccumulator.py
Labels: breaking-change

#455 Fix updating of the `TwoStepClassifier.first_classifier` and add logging
  alphadia/fdrx/models/two_step_classifier.py
Labels: code-review
